@helper DisplayMenu(string item)
{
    if (item.ToUpper() == ViewBag.menukey.ToUpper())
    {
        @Html.Raw("active")
    }
}

@helper DisplayMenuIcon(string item)
{
    if (item.ToUpper() == ViewBag.menukey.ToUpper())
    {
         <i class="fa fa-check text-success" aria-hidden="true"></i>
    }
}

@helper ShowAirline(string airline)
{
if (airline == "中華航空")
{
        @Html.Raw("華航")
        <img src="https://d3g2yh83to8qa2.cloudfront.net/wp-content/uploads/1/2016/09/09021145/ci-logo.jpg" class="rounded table-primary" style="height:20px;">
}
else if (airline == "全日空")
{
        @Html.Raw("ANA")
        <img src="https://talkairlines.files.wordpress.com/2014/03/ana_logo_low.jpg" class="rounded table-primary" style="height:20px;">
}
else
{
        @Html.Raw(airline)
}
}

@{
    var menu = ViewData["menu"] as IEnumerable<NvestedExp.Models.Sys_MenuData>;
    var viewData = ViewData["viewData"] as System.Data.DataTable;
}
<!-- Second Menu -->
<nav class="bg-light sidebar2">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item title">
            CONSOLE
        </li>
    </ul>
    <hr>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item item">
            <button id="searchButton" type="button" class="btn btn-light" style="padding:0;width:100%;">
                <font class="float-left"><i class="fa fa-search" aria-hidden="true"></i> Search</font>
                <font class="text-secondary float-right" style="padding-right:10px;font-family: 'Inconsolata', monospace;">Ctrl+q</font>
            </button>
            <form id="searchForm" method="post">
                <div id="searchDiv" class="input-group input-group-sm" style="display:none;">
                    <font class="float-left"><i class="fa fa-search" aria-hidden="true" style="padding-top:6px"></i></font>
                    <input id="searchInput" name="searchInput" style="height:23px;padding:4px;" type="text" class="form-control btn-light" placeholder="Search" value="@ViewBag.searchStr">
                </div>
            </form>
        </li>
        <li class="nav-item item">
            <button id="insertButton" type="button" class="btn btn-light" style="padding:0;width:100%;" data-toggle="modal" data-target="#airticketModal">
                <font class="float-left"><i class="fa fa-file-o" aria-hidden="true"></i> Insert Data</font>
                <font class="text-secondary float-right" style="padding-right:10px;font-family: 'Inconsolata', monospace;">Ctrl+i</font>
            </button>
        </li>
    </ul>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item title">
            LIST
        </li>
    </ul>
    <hr>
    <ul class="nav nav-pills flex-column">
        @{
            int i = 1;
            foreach (var item in menu)
            {
                <li class="nav-item item">
                    <a name="itemLink" href="/Airtickets/Index/@item.Key" class="btn btn-light @DisplayMenu(@item.Key)" title="@i. @item.Value" role="button" style="padding:0;width:100%;">
                        <font class="float-left">@i. @item.Value.Substring(0, item.Value.Length < 11 ? item.Value.Length : 11)@(item.Value.Length > 11 ? "..." : "")</font>
                        <font class="float-right" style="padding-right:10px;">@DisplayMenuIcon(@item.Key)</font>
                    </a>
                </li>
                i++;
            }
        }
    </ul>
</nav>

<!-- main -->
<main role="main" class="col-12 main">
    <h4 class="text-dark">
        <i class="fa fa-calendar" aria-hidden="true">
            @ViewBag.title<font>_</font> @ViewBag.titleCh
        </i>
    </h4>
    <hr>
    @ViewBag.menuName

    <!-- Chart -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <div id="chartdiv" style="width:100%; height:300px;"></div>

    <font style="font-size:12px;">(共 @viewData.Rows.Count 筆資料)</font>
    <nav aria-label="breadcrumb" role="navigation">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">報價日期</th>
                    <th scope="col">價格</th>
                    <th scope="col">總價</th>
                    <th scope="col">去程</th>
                    <th scope="col">航空公司</th>
                    <th scope="col">回程</th>
                    <th scope="col">航空公司</th>
                </tr>
            </thead>
            <tbody>
                @{
                    i = 1;
                    foreach (System.Data.DataRow row in viewData.Rows)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td>@row["day"].ToString().Substring(0, 4)/@row["day"].ToString().Substring(4, 2)/@row["day"].ToString().Substring(6, 2)</td>
                            <td>@string.Format("{0:N0}", Convert.ToInt16(row["ticketFare"]))</td>
                            <td>@string.Format("{0:N0}", Convert.ToInt16(row["ticketFare"]) * 3)</td>
                            <td>@row["o_depTime"].ToString()<font>(</font>@row["o_departure"].ToString()<font>)</font> - @row["o_arrTime"].ToString()<font>(</font>@row["o_destination"].ToString()<font>)</font></td>
                            <td>@ShowAirline(row["o_airline"].ToString())</td>
                            <td>@row["i_depTime"].ToString()<font>(</font>@row["i_departure"].ToString()<font>)</font> - @row["i_arrTime"].ToString()<font>(</font>@row["i_destination"].ToString()<font>)</font></td>
                            <td>@ShowAirline(row["i_airline"].ToString())</td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
    </nav>
</main>
<!-- Modal -->
<div class="modal fade" id="airticketModal" tabindex="-1" role="dialog" aria-labelledby="airticketModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-file-o" aria-hidden="true"></i> Insert Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" id="needs-validation" action="/Crawler/Sync" method="post" novalidate>
                    <div class="form-group row">
                        <label for="staticItem" class="col-sm-2 col-form-label">Item</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" name="Identify" value="@ViewBag.menuName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputJsonPath" class="col-sm-2 col-form-label">報價日期</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="FileName" value="@DateTime.Now.ToString("yyyyMMdd")" required>
                            <input type="text" class="form-control" name="FileName" value="@ViewBag.fileName" required>
                            <div class="input-group-addon" style="display: block;">.json</div>
                            <div class="invalid-feedback">
                                Please provide a json path.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFileName" class="col-sm-2 col-form-label">FileName</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" class="form-control" name="FileName" value="@ViewBag.fileName" required>
                                <div class="input-group-addon" style="display: block;">.json</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="newSubmit" type="submit" class="btn btn-primary">Go</button>
            </div>
        </div>
    </div>
</div>
<script>
    var chart;
    $.getJSON("http://localhost:52616/api/AirTicketData/AirTicket", { searchStr:'@ViewBag.searchStr' }, function (data) {
        var chartData = [];
        var tData = [];
        $.each(data, function (i, item) {
            if (tData[item.day] == undefined) tData[item.day] = { date: new Date(item.day.substr(0, 4) + '/' + item.day.substr(4, 2) + '/' + item.day.substr(6, 2)) };
            if (item.o_depTime == '08:20') tData[item.day].higher = parseInt(item.ticketFare, 10);
            if (item.o_depTime == '14:20') tData[item.day].medium = parseInt(item.ticketFare, 10);
            if (item.o_depTime == '17:10') tData[item.day].Low = parseInt(item.ticketFare, 10);
        });
        tData.forEach(function (value, index) {
            chartData.push(value);
        });

        chart = AmCharts.makeChart("chartdiv", {
            "type": "serial",
            "theme": "light",
            "legend": {
                "useGraphSettings": true
            },
            "dataProvider": chartData,
            "synchronizeGrid": true,
            "valueAxes": [{
                "id": "v1",
                "axisColor": "#CCCCCC",
                "axisThickness": 2,
                "axisAlpha": 1,
                "position": "left"
            }],
            "graphs": [{
                "valueAxis": "v1",
                "lineColor": "#B0DE09",
                "bullet": "round",
                "bulletBorderThickness": 1,
                "hideBulletsCount": 30,
                "title": "08:20(TPE) - 12:00(KIX)<br>19:05(TAK) - 20:45(TPE)",
                "valueField": "higher",
                "fillAlphas": 0
            }, {
                "valueAxis": "v2",
                "lineColor": "#FCD202",
                "bullet": "square",
                "bulletBorderThickness": 1,
                "hideBulletsCount": 30,
                "title": "14:20(TPE) - 18:05(KIX)<br>19:05(TAK) - 20:45(TPE)",
                "valueField": "medium",
                "fillAlphas": 0
            }, {
                "valueAxis": "v3",
                "lineColor": "#FF6600",
                "bullet": "triangleUp",
                "bulletBorderThickness": 1,
                "hideBulletsCount": 30,
                "title": "17:10(TPE) - 21:05(KIX)<br>19:05(TAK) - 20:45(TPE)",
                "valueField": "Low",
                "fillAlphas": 0
            }],
            "chartScrollbar": {},
            "chartCursor": {
                "cursorPosition": "mouse"
            },
            "categoryField": "date",
            "categoryAxis": {
                "parseDates": true,
                "axisColor": "#DADADA",
                "minorGridEnabled": true
            },
            "export": {
                "enabled": true,
                "position": "bottom-right"
            }
        });

        chart.addListener("dataUpdated", zoomChart);
        //zoomChart();
    });

    function zoomChart() {
        chart.zoomToIndexes(chart.dataProvider.length - 20, chart.dataProvider.length - 1);
    }

    (function () {
        //show message
        if (@ViewBag.status > 0) $('#messageDialog').modal('show');
        
        //hot key
        $(document).on('keydown', function (e) {
            if (e.ctrlKey){
                switch(true) {
                    //search
                    case (e.which == 81):
                        $('#searchButton').click();
                        return false;
                    //Insert Data
                    case (e.which == 73):
                        $('#insertButton').click();
                        return false;
                    //item click
                    case (e.which >= 49 && e.which <= 57):
                        console.log($('[name=itemLink]').get(e.which-49));
                        $('[name=itemLink]').get(e.which-49)?$('[name=itemLink]').get(e.which-49).click():false;
                        return false;
                }
            }
            //console.log(e.which);
        });
        
        //search
        $('#searchButton').click(function () {
            $('#searchButton').hide();
            $('#searchDiv').show();
            $('#searchInput').focus().select();
        });
        $('#searchInput').blur(function () {
            if ($('#searchInput').val() == '') {
                $('#searchButton').show();
                $('#searchDiv').hide();
            }
        }).change(function () {
            $('#searchForm').submit();
        });
        if ($('#searchInput').val() != '') $('#searchButton,#searchDiv').toggle();
    
        //new submit
        $('#newSubmit').click(function () {
            var form = document.getElementById('needs-validation');
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            } else {
                form.submit();
            }
            form.classList.add('was-validated');
        });
    })();
</script>